<div id="twrap">
  <div class="container centered">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
      <i class="glyphicon glyphicon-pencil"></i>
      <p><%= Faker::Lorem.paragraph(3) %></p>
      <h4><br/><%= Faker::Name.name %></h4>
      <p><%= Faker::Name.title %> - <%= Faker::Internet.domain_name %></p>
      </div>
    </div>
  </div>
</div>
