<div class="container mtb">
  <div class="row">
    <div class="col-lg-8">
      <h4>Just Get In Touch!</h4>
      <div class="hline"></div>

      <p>
        Input your message below, you should see it on the next page after submitting.
      </p>

      <form role="form" action="/contact" method="post">
        <div class="form-group">
          <label for="message1">Message</label>
          <textarea class="form-control" id="message1" rows="3" name="message"></textarea>
        </div>
        <button type="submit" class="btn btn-theme">Submit</button>
      </form>
    </div>

    <div class="col-lg-4">
      <%= erb 'partials/address'.to_sym %>
    </div>
  </div>
</div>

<div id="contactwrap"></div>

<%= erb 'partials/footer'.to_sym %>
<%= erb 'partials/scripts'.to_sym %>
