<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h3>
          Show how <a href="https://github.com/sirko-io/engine">Sirko Engine</a>
          can provide better experience to users by using <a href="https://developers.google.com/web/progressive-web-apps/">Progressive Web App features</a>
        </h3>

        <br>

        <h4>
          This demo site is static, but it tries to pretend that there is some work on the backend and some parts of the site are dynamic.
          If you follow the given prediction below, you will see the improved load of a page. Otherwise,
          it will take time to show the content to you.
        </h4>
        <h4>
          <b>Before clicking on the link below, give the browser some time (1-2 secs) to perform required actions (prefetch a predicted page and assets for it).
          Otherwise, you won't see any affect of pre-rendering.</b>
        </h4>

        <h3>
          Predicted path: <a id="predicted_path">no prediction yet</a>
        </h3>
      </div>
    </div>
  </div>
</div>

<div id="service">
  <div class="container">
    <div class="row centered">
      <div class="col-md-4">
        <i class="fa fa-heart-o"></i>
        <h4>Handsomely Crafted</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-flask"></i>
        <h4>Retina Ready</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-trophy"></i>
        <h4>Quality Theme</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h3>Random video</h3>

  <iframe width="1280" height="720" src="https://www.youtube.com/embed/<%= random_youtube_code %>" frameborder="0" allowfullscreen></iframe>
</div>

<div class="container mtb">
  <div class="row">
    <div class="col-lg-6">
      <h4>More About Our Agency.</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
      <p><br/><a href="/about" class="btn btn-theme">More Info</a></p>
    </div>

    <div class="col-lg-3">
      <h4>Frequently Asked</h4>
      <div class="hline"></div>
      <p><a href="#">How cool is this theme?</a></p>
      <p><a href="#">Need a nice good-looking site?</a></p>
      <p><a href="#">Is this theme retina ready?</a></p>
      <p><a href="#">Which version of Font Awesome uses?</a></p>
      <p><a href="#">Free support is integrated?</a></p>
    </div>

    <div class="col-lg-3">
      <h4>Latest Posts</h4>
      <div class="hline"></div>
      <p><a href="/post">Our new site is live now.</a></p>
      <p><a href="/post">Retina ready is not an option.</a></p>
      <p><a href="/post">Bootstrap 3 framework is the best.</a></p>
      <p><a href="/post">You need this theme, buy it now.</a></p>
      <p><a href="/post">This theme is what you need.</a></p>
    </div>

  </div>
</div>

<%= erb 'partials/testimonial'.to_sym %>
<%= erb 'partials/footer'.to_sym %>
<%= erb 'partials/scripts'.to_sym %>
