<div class="container mtb">
  <div class="row">
    <div class="col-lg-8">
      <h4>Thanks for your message!!!</h4>
      <p class="alert alert-warning">
        <b>Your message:</b> <i><%= message %></i>
      </p>
    </div>

    <div class="col-lg-4">
      <%= erb 'partials/address'.to_sym %>
    </div>
  </div>
</div>

<div id="contactwrap"></div>

<%= erb 'partials/footer'.to_sym %>
<%= erb 'partials/scripts'.to_sym %>
